    /* Making a style specification that will scale for users dynamically */
    .facultyScheduleExamFormContainer {
    form  { display: table;      }
    p     { display: table-row;  }
    label { display: table-cell; }
    input { display: table-cell; }
  }
